body{
    background-color: #4d37b6;
    color: white;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Crete Round', serif; */
    /* font-family: 'PT Sans Caption', sans-serif; */
    font-family: 'Source Code Pro', monospace;
}


.navbar{
height: 100px;
width: 100%;
background-color: #120f31;
/* overflow: hidden; */
position: fixed;
z-index: 101;
opacity: 0.75;
margin-top: -100px; 
flex-direction: row;
}

.logo.img{
    height: 80px;
    width: 80px;
   
}

.menu-bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: -100px;
   
}

.menu-item {
    float: left;
    padding: 15px;
    background: orangered;
    width: 100px;
    text-align: center;
} 



.banner-container{
    margin-top: 80px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.image-banner.img{
    height: auto;
    width: 50%;
    margin-top: 100px;
}

img{
    height: auto;
    width: 100%;
}

h1{
    margin-left: 200px;
}



  .features {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 2px;
        
        
    }

.feature-item {

        height: auto;
        width: 95%;
        color: white;
        opacity: 0.75;
        display: flex;
        justify-content: center;
    }

    .code, .marketing, .hobby{
        height: auto;
        width: 95%;
        background-color: #120f31;
        margin: 20px 0px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

  

/* .feature-item2{
    width: 30%;
    background-color: #020107;
    align-items: center;


} */
.img-fluid{
    border-radius: 50%;
}

.bg-light {
    background-color: #020107; 
}

.contact{
       
        height: 300px;
        width: 75%;
        margin: auto;
        margin-top: 50px;
        color: white;
        align-items: center;
        padding-bottom: 5px;
        opacity: 0.75;
      
}
.smbuttons{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Style all font awesome icons */
.fa {
    font-size: 30px;
    height: 70px;
    width: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 3px;
    border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
    text-align: center;
    align-self: center;
    /* vertical-align: baseline; */
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
    /* vertical-align: baseline; */
}

/* Github */
.fa-github {
    background: black;
    color: white;
    /* vertical-align: baseline; */
}

/* E-mail */
.fa-envelope {
    background: rgb(255, 51, 0);
    color: white;
    /* vertical-align: baseline; */
}

/* Google Plus*/
.fa-google-plus {
    background: #dd4b39;
    color: white;
    /* vertical-align: baseline; */
}

/* LinkedIn*/
.fa-linkedin {
    background: #0082ca;
    color: white;
    /* vertical-align: baseline; */
}



/* @media screen and (max-width: 692px) {
    .features {
    
        padding: 10px;
        display: flex;
        flex-direction: column-reverse;
        align-content: center;
        color: white;
}

.feature-item2{
    width: 80%;
    background-color: black;
    margin: auto;
    margin-bottom: 20px;
    
}

.feature-item3{
    height: auto;
        width: 65%;
        margin: auto;
        color: white);
        background-color: black;
        align-items: flex-start;
}
.smbuttons{
    display: flex;
    flex-direction: column;
    align-content: center;
}
} 

}

@media screen and (max-width: 692px) {

    .navbar{
        height: 100px;
        width: 100%;
        background-color: #120f31;
        position: fixed;
        z-index: 101;
        opacity: 0.75;
        margin-top: -100px;
        flex-direction: row;
        }

        .logo{
            height: 80px;
            width: 80px;
           
        }
        
        .menu-bar {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin-top: -100px;
           
        }
        
        .menu-item {
            float: left;
            padding: 15px;
            background: orangered;
            width: 100px;
            text-align: center;
        }





} */
